body {
	background-color: beige;
}

div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 15px;
	margin: 0 auto;

	border: 2px solid black;
	border-radius: 15px;
	width: 300px;
}

button {
	margin-bottom: 15px;
}